<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.title }} :: Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    	<div class="container">
    		<div class="header">
    			<ul class="nav nav-pills pull-right">
    				<li class="active"><a href="#">Widgets</a></li>
    				<li><a href="#">Users</a></li>
            <li><a href="#">Options</a></li>
    				<li><a href="/">Wallboard</a></li>
    			</ul>
    			<h3 class="text-muted">{{ config.title }}</h3>
    		</div>
		<div class="row">
			<div class="col-md-9">
				{% block content %}No content to display{% endblock %}
                  </div>
                  <div class="col-md-3">
			</div>
		</div>
		<div class="footer">
			<p class="pull-left">
				Callqueue wallboard provided by <a href="http://url.net.au/">URL Networks</a><br/>
			</p>
			<p class="pull-right">
				This appliance is Open-Source. Available on <a href="#">Github</a>
			</p>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
