{% extends 'admin/layout.html.twig' %}

{% block body %}
<h3>Widgets</h3>

<div class="row">
	<div class="col-md-12">
			<table class="table table-striped table-bordered table-condensed">
				<tr>
					<th>URL</th>
					<th>Options</th>
				</tr>
				<tr>
					<form action="/admin/widget" role="form" method="post">
						<td class="form-group"><input type="url" class="form-control" placeholder="Full portlet URL" name="url"></td>
						<td class="form-group"><button type="submit" class="btn btn-success">Add</button></td>
					</form>
				</tr>
				{% for widget in widgets %}
					<tr>
						<td>{{ widget.url }}</td>
						<td style="width: 10px">
							<form action="/admin/widget/{{ widget.id }}" role="form" method="post">
								<input type="hidden" id="_method" name="_method" value="DELETE" />
								<button onClick="return confirm('Are you sure?')" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
	</div>
</div>
{% endblock %}
